<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--Sample Branch One : change number 2-->
	<connectionStrings>
	</connectionStrings>
  <appSettings>
    <add key="version" value="1.6.8.0" />
    <add key="ServiceNowBaseUrl" value="https://davita.service-now.com" />
    <add key="CommonUsersFilename" value="App_Data\CommonUsers.xml"/>
    <add key="ReleaseBranchIdentifier" value="Branch:" />
    <add key="ReleaseQAEnvironmentIdentifier" value="QAEnvironment:" />
    <add key="WorkItemRankFilename" value="App_Data\WorkItemRank.xml"/>
    <add key="WorkItemRankEnableCache" value="true"/>
    <add key="OliverSupportOpExThemeGuid" value="cdc63dd8dbe1ee40e7d4fb5aaf96197c"/>
  </appSettings>
  <system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<sessionState mode="InProc" timeout="300" />
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
